* {
  font-family: sans-serif;
}

.team-link {
  color: #333;
  text-align: center;
  text-decoration: none;
}

.venue-name {
  font-weight: bold;
}

.crime-year-selector {
  margin-bottom: 8px;
}

.crime-year-link {
  cursor: pointer;
  margin-left: 8px;
  text-decoration: underline;
}

.crime-year-link.active {
  text-decoration: none;
}
